* {
    /* padding: 0;
    margin: 0;
    box-sizing: border-box; */
}

.background-color {
    background-color: var(--green);

}

.text-color {
    color: var(--green);
}
.text-oring{
color: var(--oring);
}
.blo{
    color: var(--blo);
}
.yellow{
    color: var(--yellow);
}
.oring{
    color: var(--oring);
}

:root {
    --back-section: #ddd;
    --green: #2f90b9;
    --oring:#e76943;
    --blo:#000;
    --yellow:rgb(214, 214, 22);
}

#nav {
    position: fixed;
    width: 100%;
    background-color: #F8F9FA;
}

#nav .log{
position: relative;
right: 220px;
}
@media screen and (max-width:980px) {
    #nav  .log {
        position: relative;
    right: 0;
    }
}
@media screen and (min-width:981px) and (max-width:1400px) {
    #nav  .log {
        position: relative;
    transform: translate();
    right: 5rem;
    }
}
#nav  .log a {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 5px;
    transition: .5s;
}
#nav  .log a:hover {
    border: 1px solid var(--green);
    color: var(--green);
    background-color: transparent;
}
/* home =============================================== */
#home {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../imags/a.jpg);
 background-size: cover;
 background-position: center;
 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



#home .conact a{
    color: wheat;
    text-decoration: none;
    margin: 1rem;
    padding: 10px 30px;

    border-radius: 5px;
    border: 1px solid var(--green);
}
#home .conact a:last-child{
 background: var(--green);
 transition: .5s;
}
#home .conact a:last-child:hover{
 background: transparent;
 color: var(--green);
}
#home .conact a:first-child{
   color: var(--green);
   transition: .5s;
}
#home .conact a:first-child:hover{
    background: var(--green);
    color: wheat;
}

/* home-2=========================================================== */
#home-2 {
    background-color: var(--back-section);
}

#home-2 .bor {
    border: .5px solid var(--green);
    border-radius: 5px;
    margin: auto;
    width: 60%;
    padding: 10px 1px;
    color: var(--green);
    transition: .5s;
    margin-bottom: 4px ;
}

#home-2 .bor:hover {
color: white;
background: var(--green);
}


/* home-3 =========================================================================== */

#home-3 .bus {
    position: relative;
    width: 100%;
    /* height: 300px; */
}

#home-3 {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), var(--back-section);

}

#home-3 .bus img {
    position: absolute;
    width: 70px;
    right: 10px;
}

#home-3 .box-home-3{
    border: 1px solid var(--green);
}

/* =============== about ======================= */

#about {
    background-color: var(--back-section);
    overflow: hidden;
}

#about .imgo-1 {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#about .imgo-1 .abs {

    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    position: absolute;
    top: 90%;
    color: white;
    padding: 5px;
}
#about .imgo-1 .abs i{
   position: absolute;
   left: 10px;
   top: 25%;
   color: var(--green);
}

#about .imgo-1 img {
    width: 100%;
    height: 500px;
}

#about .imgo-2 img {
    width: 100%;
    height: 300px;
}

#about .imgo-2 {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#about .imgo-2 .abc {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    position: absolute;
    top: 85%;
    color: white;
    padding-left: 5px;
}
#about .imgo-2 .abc i{
    color: var(--green);
    position: absolute;
    left: 10px;
    top: 25%;
}

#about .ali a {
    /* border: 2px solid red; */
    padding: 10px 50px;
    text-decoration: none;
    background-color: var(--green);
    color: white;
    border-radius: 5px;
    transition: .7s;
}

#about .ali a:hover {
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
}
/* our-services ================================ */
#our-services{
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), var(--back-section);
}
/* ================================================================cors */
#cors img{
    height: 250px;
    width: 100%;
}
#cors .date{
    border-bottom: 1px solid #000;
    /* padding-bottom: 10px; */
    padding: 5px 5px 10px;
}
#cors .date span:last-child{
    border-right: 1px solid #000;
    padding-right: 40px;
}
#cors .date span:first-child{
    border-left: 1px solid #000;
    padding-left: 40px;
}
#cors .hert{
    position: absolute;
    top: 10px;
    right: 10px;
color: white;
background: rgba(0, 0, 0, .4);
width: 30px;
height: 30px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
#cors .hert i:hover {
    transition: .6s;
    color: red;
}